<img class="myBurger" src="./assets/images/burger2.gif">

<h1 class="text-center mt-5 text-danger text-decoration-underline">Eat-Da-Burger</h1>

<div class="row">
 <div class="col-md-6">
<ol>
  {{#each burgers}}
    {{#unless devoured}}
      {{> burgers/burger-block eaten=false}}
    {{/unless}}
  {{/each}}
</ol>
</div> 
<div class="col-md-6">
<ol>
  {{#each burgers}}
    {{#if devoured}}
      {{> burgers/burger-block eaten=true}}
    {{/if}}
  {{/each}}
</ol>
</div>
</div>
<form class="create-form mt-5">

  <div class="form-group">
    <label for="burg"></label>
    <textarea name="name" id="message" cols="50" rows="3" placeholder="Type your burger's name"
    ></textarea>
  </div>

  <button class="bg-primary text-white"type="submit">Add Burger</button>
  <h5 class="mt-3">Enter a burger you would like to eat and click Add Burger button.</h5>
</form>
