
img{
  margin-left: 30rem;
}

li {
  padding: 5px;
  margin: 5px;
  background: #faebd7;
}

.label {
  font-weight: bold;
}

.create-update-form {
  padding: 5px;
  margin: 5px;
  background: aqua;
}
.create-form{
  text-align: center;

}

.form-group {
  margin-bottom: 5px;
}
button {
  border-radius: 8px;
  background-color: blue;
  color: white;
}
