.mainDiv {
  padding: 5px;
  background: #faebd7;
  list-style-type: none;
  border-radius: 5px;
  margin-bottom: 8px;
}

.label {
  font-weight: bold;
}

.create-update-form {
  padding: 5px;
  margin: 5px;
  background: aqua;
}
.create-form{
  text-align: center;

}

.form-group {
  margin-bottom: 5px;
}
button {
  border-radius: 5px;
  background-color: blue;
  color: white;
  height: 3rem;
}

ul {
  /* border-radius: 10px; */
  overflow: auto;
  width: 29rem;
  height: 18rem;
}
