<div class="row dataBlock d-flex flex-wrap mx-auto">
<div class="mainDiv text-center col: width of 15% border border-success">
	<p>{{burger_name}}</p>
</div>
	{{#if eaten}}
	<button class="delete col: width of 15% mb-5" data-id="{{id}}">Delete From Table!
	</button>

	{{else}}
	<button class="devour col: width of 15% mb-5" data-id="{{id}}">Devour It!
	</button>
	{{/if}}
</div>
